body{
  background-color: black;
  overflow: hidden;
}

.meme_outer, 
.meme_container{
  display: inline-block;
}

.loader{
  background-color: rebeccapurple;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000;
  position: fixed;
  font-size: 15vw;
}

.tweet_outer{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  transform: scale(0.95);
}

.twitter-tweet-rendered{
 width: 200% !important;
}

.meme_outer{
  position: fixed;
  right: 3vw;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 100vh;
}


.output_container section:last-child{
  width: 60%;
  overflow-x: hidden;
  height: 84vh;
  margin-top: 10px;
}

.img_component{
  position: relative;
  margin: 0.5vw;
}

.img_label{
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 0.5vw;
}

.twitter-tweet {
  margin-top: 0;
}

.img_label span{
  font-size: 10px;
  width: 50%;
  font-weight: 500;
  color: rgb(83, 100, 113);
}

.img_label span:last-child{
  text-align: right;
}

.meme_container{
  display: inline-block;
}

.img_component img{
  height: 80vh;
  cursor: pointer;
  width: 100%;
}

.prediction {
  position: fixed;
  bottom: 0;
  margin: 1vw;
  border: 1px solid;
  padding: 1vw;
  background-color: #f0f0f0;
  border-radius: 8px;
  font-family: times;
}


.first_span,
.last_span{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_component .first_span{
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 0.5vw;
}

.img_component .last_span{
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 0.5vw;
}

.img_component span{
  font-family: impact;
  text-transform: uppercase;
  font-size: 42px;
  color: #fff;
  text-shadow: 1px -1px 12px black;
  TEXT-ALIGN: CENTER;
  -webkit-text-stroke: .5PX #000;
}
