@font-face {
  font-family: "Ubuntu-Light";
  src: url("fonts/Ubuntu-Light.ttf") format("truetype");
} 


body{
  background-color: black;
  overflow-x: hidden;
}

.words_splitted{
  display: flex;
  align-items: center;
  justify-content: center;
}

.words_splitted div{
  border: 1px solid white;
  margin: 0.4vw;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 50px;
}

.words_splitted div img{
  width: 80%;
}

.row_4 div img{
  margin-top: 10px;
  margin-bottom: 10px;
}

.title_project{
  text-align: center;
  margin-top: 2vw;
  font-family: impact;
  font-size: 14px;
  text-shadow: 1px -1px 12px white;
  text-transform: uppercase;
  transform: scaleX(1.4);
  color: white;
}

.rationale{
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  padding: 2vh;
}


.rationale_left{
  border-right: 1px solid;
  width: 35%;
  padding-right: 2%;
}

.rationale_right{
  width: 65%;
  padding-left: 0%;
  text-align: center;
  margin-top: 2vw;
}

.rationale_right div{
  font-family: 'Ubuntu-Light';
  font-weight: 100;
  color: white;
  font-size: 12px;
}

.img_logo_rationale{
  background-color: black;
}

.output{
  margin-top: 100vh;
}

.rationale .inner_rationale{
  width: 34vw;
}

.rationale *{
  font-family: Ubuntu-Light;
  font-weight: 100;
  color: white;
  font-size: 14px;
}

.loading_screen{
  background-color: red;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.loading_screen div{
  font-size: 100px;
  font-family: impact;
  color: white;
}

.arrow_shuffle{
  display: none;
  position: fixed;
  bottom: 6vw;
  right: -18vw;
  transform: rotate(95deg) scale(0.15);
  transform-origin: bottom;
  cursor: pointer;
}

.meme_outer, 
.meme_container{
  display: inline-block;
}

.output_container{
  display: flex;
  width: 100vw;
  min-height: 70vh;
  justify-content: center;
  padding-top: 9vw;
  padding-bottom: 4vw;
  flex-direction: row-reverse;
  border-top: 1px solid white;
  box-shadow: 1px -1px 12px white;
}

.row_4 div{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: impact;
  text-transform: uppercase;
  text-shadow: 1px -1px 12px white;
}

.row_4 div img{
  width: 80%;
  height: auto;
}

.row_4 div:first-child img{
  filter: invert(1);
  width: 80%;
  height: auto;
}

.output_container:nth-child(odd) {
  flex-direction: row;
}

.output_container section:first-child{
  width: 25%;
  display: flex;
  justify-content: center;
}

.output_container section:last-child{
  width: 71%;
  overflow-x: hidden;
  margin-top: 10px;
}

.img_component{
  position: relative;
  margin: 0.5vw;
}

.img_label{
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 0.5vw;
}

.twitter-tweet {
  margin-top: 0;
  transform: scale(1.2);
}

.img_label span{
  font-size: 10px;
  width: 50%;
  font-weight: 500;
  color: rgb(83, 100, 113);
}

.img_label span:last-child{
  text-align: right;
}

.meme_container{
  display: inline-block;
}


.img_component img{
  cursor: pointer;
  width: 16vw;
  box-shadow: 1px -1px 12px white;
}

.prediction {
  position: fixed;
  bottom: 0;
  margin: 1vw;
  border: 1px solid;
  padding: 1vw;
  background-color: #f0f0f0;
  border-radius: 8px;
  font-family: times;
}


.first_span,
.last_span{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_component .first_span{
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 0.5vw;
}

.img_component .last_span{
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 0.5vw;
}

.img_component span{
  TEXT-ALIGN: CENTER;
  -webkit-text-stroke: .5PX #000;
  color: white;
  font-family: impact;
  font-size: 14px;
  text-shadow: 1px -1px 12px #000;
  text-transform: uppercase;
  -webkit-transform: scaleX(1.4);
  transform: scaleX(1.4);
}
