body{
  /* background-color: darkgray; */
}

.rationale{
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  width: 100vw;
  height: 96vh;
  padding: 9vh;
  padding-top: 2vw;
}

.rationale_left{
  border-right: 1px solid;
  width: 62%;
  padding-right: 2%;
  height: 100%;
}

.rationale_right{
  width: 50%;
  padding-left: 2%;
}

.output{
  margin-top: 35vw;
}

.rationale .inner_rationale{
  width: 34vw;
}

.rationale *{
  font-family: monospace;
  font-weight: 100;
  font-size: 13px;
  color: black;
}


.meme_component{
  width: 91vw;
  margin-top: 4vw;
  margin-bottom: 4vw;
  border-top: 1px solid;
  padding-top: 4vw;
}

.meme_component_outer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading_screen{
  background-color: red;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.loading_screen div{
  font-size: 100px;
  font-family: impact;
  color: white;
}


.meme_outer, 
.meme_container{
  display: inline-block;
}

.output_container{
  display: flex;
  width: 100vw;
  min-height: 70vh;
  align-items: center;
  justify-content: center;
  padding-top: 15vw;
  padding-bottom: 15vw;
  border-top: 1px solid;
}


.img_component{
  position: relative;
  margin: 0.5vw;
}

.img_label{
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  margin: 0.5vw;
}

.twitter-tweet {
  margin-top: 0;
}


.tweet_outer{
  position: absolute;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vw;
}

.img_label span{
  font-size: 10px;
  width: 50%;
  font-weight: 500;
  color: rgb(83, 100, 113);
}

.img_label span:last-child{
  text-align: right;
}

.meme_container{
  display: inline-block;
}


.img_component img{
  cursor: pointer;
  width: 14vw;
  border: 1px solid;
  box-shadow: 1px -1px 12px #000;
}

.prediction {
  position: fixed;
  bottom: 0;
  margin: 1vw;
  border: 1px solid;
  padding: 1vw;
  background-color: #f0f0f0;
  border-radius: 8px;
  font-family: times;
}


.first_span,
.last_span{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_component .first_span{
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 0.5vw;
}

.img_component .last_span{
  position: absolute;
  bottom: 0;
  left: 0;
  padding-bottom: 0.5vw;
}

.img_component span{
  TEXT-ALIGN: CENTER;
  -webkit-text-stroke: .5PX #000;
  color: white;
  font-family: impact;
  font-size: 14px;
  text-shadow: 1px -1px 12px #000;
  text-transform: uppercase;
  -webkit-transform: scaleX(1.4);
  transform: scaleX(1.4);
}
